@import '~bootstrap/scss/bootstrap';


#title {
  text-align: center;
  background-color: navy;
  color: LightSkyBlue
}

button {
  background-color: navy;
  color: LightSkyBlue
}

.container {
  height: 100vh;
}

.board {
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
  background-color: ('public/fern.jpg') no-repeat center center
}
